@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color:lightblue;
}

.homecontainer{
  float:right;
  display: flex;
  align-items: center;
  padding-top:60px ;


}
.childcontainer{
  margin-left: 80px;
  font-size: 45px;
  font-style: normal;
  padding: 80px;
}
.color{
  color:palevioletred;

}
img{
  height: auto;
  width: 450px;
  border-radius: 50%;
  margin-right: 90px;
}